@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
* {
  /* border: 2px solid red; */
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  height: 900px;
  width: 900px;
  display: flex;
  justify-content: center;
}

aside {
  display: grid;
  grid-template-rows: 3;
  width: 200px;
}

#canvas-container {
  grid-column-start: 1;

  display: flex;
  justify-content: center;
  align-content: center;
  height: 900px;
  width: 900px;
  overflow: hidden;
  border: 10px solid rgb(212, 153, 39);
  border-radius: 5%;
}

canvas {
  height: 900px;
  width: 900px;
  z-index: 0;
}

#lives-container {
  /* Set a background color or style as needed */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 5px; /* Add rounded corners if desired */
  position: absolute;
  bottom: 150px;
  right: 360px;
  display: flex;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-info > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing {
  z-index: 2;
  padding: 30px;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
}

#start-button {
  width: 400px;
  height: 70px;
  background: linear-gradient(to left top, rgb(212, 153, 39), rgb(190, 60, 36));
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Bungee", sans-serif;
  text-shadow: 2px 2px 4px black; /* Add a black text shadow here */
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

#start-button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
#start-button:hover span {
  animation-play-state: paused;
}

/* background-color: white;
  margin-bottom: 50px;
  color: white;
  z-index: 4;
  margin-top: 50px;
  width: 300px;
  height: 100px;
  font-size: 20px;
  font-family: "Bungee Spice", sans-serif;
  border-radius: 15%; */

h1 {
  z-index: 4;
  color: white;
  font-family: "Bungee Spice", sans-serif;
  opacity: 1;
  padding: 15px;
}

#replay-button {
  z-index: 0;
  position: absolute;
  display: none;
  margin-top: 450px;
  border-radius: 35%;
  width: 200px;
  height: 100px;
}
p {
  color: white;
  font-family: "Luckiest Guy", cursive;

  letter-spacing: 3px;
}

#winner-page {
  background-color: black;
  z-index: 3;
  position: absolute;
  display: none;

  border-radius: 35%;
  width: 200px;
  height: 100px;
  color: red;
}
